@font-face {
    font-family: 'VT323';
    src: url('../fonts/vt323.eot');
    src: url('../fonts/vt323.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vt323.woff') format('woff'),
         url('../fonts/vt323.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden;	
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: #111;
}

#navigation {
    background-color: #333;
    overflow: auto;
    display: none;
}

    #navigation nav {
        padding: 0 0 0 20px;
    }

        #navigation nav ul {
            padding: 0 0 0 5px;
            margin: 0 0 30px 0;
        }
        
            #navigation nav ul li:before {
                content: "-";
                color: #aaa;
                margin-right: 5px;
            }
        
            #navigation nav ul li a {
                color: #fff;
                font-size: 0.8em;
            }
            
                #navigation nav ul li a:hover,
                #navigation nav ul li a:focus,
                #navigation nav ul li a:active {
                    text-decoration: none;
                }

    #navigation h2 {
        color: #fff;
        margin: 20px 0 10px 0;
    }
    
        #navigation h2 a {
            color: #fff;
            text-decoration: none;
        }

#menu-arrow {
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    left: -17px;
    top: 45px;
    padding: 7px 15px;
    color: #fff;
    background-color: #333;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    /* the end is near. can't believe
       I'm actually doing this */
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

    .meny-active #menu-arrow {
        opacity: 0;
        color: #333;

        -webkit-transition: opacity 0.2s ease; 
        -moz-transition: opacity 0.2s ease; 
        -ms-transition: opacity 0.2s ease; 
        -o-transition: opacity 0.2s ease; 
        transition: opacity 0.2s ease;
    }

#container {
    height: 100%;
    width: 100%;
    padding: 0 25px 0 55px;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'VT323';
    font-weight: normal;
}

    h1, header h2 {
        font-size: 4em;
        margin: 0;
        padding: 42px 0;
    }

        h1#title {
            text-align: center;
        }
        
        header h2 {
            font-size: 2.5em;
            padding-bottom: 0;
            margin-bottom: 20px;
        }

section h1, section h2, header h2 {
    border-bottom: 1px solid #aaa;
}

    section h2, header h2 {
        line-height: 1.5em;
    }

#errorpage {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

    #errorpage #error {
        text-align: center;
        padding-bottom: 0;
    }

    #errorpage #binary {
        font-size: 1.4em;
        padding-top: 15px;
        color: #ccc;
        text-align: center;
        border-bottom: none;
    }

#errortext p.content {
    text-align: center;
}

.content, pre, code {
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 10px 0 5px;
}

    pre, code {
        line-height: 1.1em;
        color: #333;
        margin: 10px 15px 5px;
    }
    
    code {
        margin: 0;
        font-size: 1em;
    }
    
    .content a {
        color: #000;
    }
    
        .content a:hover,
        .content a:focus,
        .content a:active {
            text-decoration: none;
        }

footer {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}

    footer p.content a {
        font-size: 0.9em;
        color: #666;
        text-decoration: none;
    }

        footer p.content a:hover,
        footer p.content a:focus,
        footer p.content a:active {
            text-decoration: none;
        }

