<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title %}
      {{ page.title }} - bitwei.se
    {% else %}
      bitwei.se
    {% endif %}
  </title>

  <link rel="stylesheet" href="/styles/normalize.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">

  <script type="text/javascript" src="/scripts/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery.ba-hashchange.min.js"></script>
  <script type="text/javascript" src="/scripts/meny.min.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
<div id="navigation">
  <nav>
    <h2><a href="/">Startseite</a></h2>

    <h2>Allgemeines</h2>
    <ul>
      <li><a href="/bit_byte.html">Bit &amp; Byte</a></li>
    </ul>

    <h2>Bit-Operatoren</h2>
    <ul>
      <li><a href="/and.html">AND</a></li>
      <li><a href="/or.html">OR</a></li>
      <li><a href="/xor.html">XOR</a></li>
      <li><a href="/not.html">NOT</a></li>
      <li><a href="/shifting.html">Shifting</a></li>
    </ul>

    <h2>Bitmasken</h2>
    <ul>
      <li><a href="/set1.html">1 setzen</a></li>
      <li><a href="/set0.html">0 setzen</a></li>
      <li><a href="/read.html">Lesen</a></li>
      <li><a href="/toggle.html">Umschalten</a></li>
    </ul>
  </nav>
</div>
<div id="menu-arrow">Menü</div>
<div id="container">
  <div id="content">
    {{content}}
  </div>

  <footer>
    <p class="content">
    <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">
      <img src="/images/cc_by_sa.png" alt="CC-BY-SA">
    </a>
    </p>
    <p class="content">
    <a href="/">Startseite</a> &middot;
    <a href="/imprint.html">Impressum</a> &middot;
    <a href="http://github.com/denschub/bitweise" target="_blank">Code</a>
    </p>
  </footer>
</div>
</body>
</html>
